<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= company.image %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= company.active %>
  </p>

</div>
